<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF8">
    <title>Learning Vue.js</title>
    <link rel="stylesheet" href="../../src/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../simple/style.css">
</head>

<body>

<div class="content">
    <div class="form">
            <div class="form-group">
                <label>Email</label>
                <input type="text" v-model="email" class="form-control">
            </div>

            <div class="form-group">
                <label>First Name</label>
                <input type="text" v-model="firstName" class="form-control">
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" v-model="lastName" class="form-control">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" v-model="phone" class="form-control">
            </div>
            <div class="form-group">
                <label>Guests</label>
                <input type="button" class="btn btn-primary" value="+" @click="countGuests++">
            </div>
            <div v-for="i in countGuests" class="form-group">
                <label v-on:dblclick="">Guest {{i}}</label>
                <input type="text" class="form-control">
            </div>
            <hr>
            <input type = "button" class="btn btn-success" value="Send data"></input>
    </div>
</div>

<!--VUE.JS-->

<script src="../../src/vue.js"></script>
<script src="script.js"></script>

</body>

</html>