.form-group {
    padding: 5px;
}

.content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}

.square {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin: auto;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wrapper {
    padding: 15px;
    max-width: 900px;
}
