<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeWork 2-1</title>
    <link rel="stylesheet" href="../../src/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../src/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <form v-if="!showResult">
            <div class="progress">
                <div class="progress-bar" v-bind:style="progressBarStyle"></div>
            </div>
            <div>
                <div class="form-group" v-for="field in info">
                    <label>
                        {{field.name}}
                        <i class="fa fa-check-circle" fa="lg" aria-hidden="true" v-if="checkIsFieldCorrect(field)"></i>
                        <i class="fa fa-exclamation-circle" fa="lg" aria-hidden="true" v-else></i>
                    </label>
                    <input type="text" v-model="field.value" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary" @click="showResult = true">
                Send Data
            </button>
        </form>
        <div v-if="showResult">
            <table class="table table-bordered">
                <tr v-for="field in info">
                    <td>{{field.name}}</td>
                    <td>{{field.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!------VUE.JS------->
<script src="../../src/vue.js"></script>
<script src="script.js"></script>
</body>
</html>